{% extends 'home.html' %}

{% block content2 %}

<main class="container" role='main'>

  <div class="panel panel-default">
    {% for visitor in visitors %}
    <div class="panel-heading">
      <h2 class='panel-title'>
        <p>Nombre: {{ visitor.name }}</p> 
        <p>Cedula: {{ visitor.cedula }}</p>
      </h2>
    </div>
    {% empty %}
    <div class="panel-heading">
      <h2 class='panel-title'>No hay visitantes para mostrar</h2>
    </div>
    {% endfor %}
  </div>

</main>

{% endblock content2 %}